heap1/schema.dtd

<!ELEMENT clusters (cluster*)> 
<!ELEMENT cluster (fields, usages)>
<!ATTLIST cluster
  name ID #REQUIRED
  is_array PCDATA #REQUIRED
>
<!ELEMENT fields (field*)>
<!ATTLIST field
  size PCDATA #REQUIRED
  unknown PCDATA #REQUIRED
  points_to ID #IMPLIED
>
<!ELEMENT usages (usage*)>
<!ATTLIST usage
  address PCDATA #REQUIRED
>
